version: "3.9"
services:
  mysql_service:
    container_name: mysql_service
    restart: always
    build: ./mysql #dduwong dan cua file dockerfile
    ports:
      - "6603:3306"
  data_crawl:
    container_name: crawl_data
    build: ./data_crawl
    ports:
      - "8001:9001"
  mysql_api:
    container_name: mysql_api
    build: ./mysql_api
    ports:
      - "8002:9002"
    depends_on: 
      - mysql_service
      - crawl_data

  # main_searchbox:
  #   container_name: foody_main_searchbox
  #   build: ./main_searchbox